<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
        <title>Word Results</title>
    </head>
    <body>
        <div class="container">

            {%if count != -1 %}
                <h3>The word you are searching for appears {{ count }} times within the sentence given.</h3>
            {% else %}
                <h3>Error Message: -1, please enter a valid entry..</h3>
            {% endif %}
                <a href="/"><button type="submit" class="btn btn-default">Home</button></a>
        </div>
    </body>
</html>
