<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
        <title>Word Results</title>
    </head>
    <body>
        <div class="container">
            {% if count is not empty %}
        <h3>The word you're searching for is found {{ count }} times within the sentence.</h3>
            {% endif %}
        <a href="/"><button type="submit" class="btn btn-success">Search for other words</button></a>
        </div>
    </body>
</html>
