<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
        <title>Count Repeats</title>
    </head>
    <body>
        <div class="container">
            <h1>Count Repeats</h1>
            <form action="/count" method="get">
                <div class="form-group">
                    <label class="text-muted" for="input_word">Enter a word to search for:</label>
                    <input name="input_word" id="input_word" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label class="text-muted" for="input_string">Input the sentence below you would like to check:</label>
                    <input name="input_string" id="input_string" type="text" class="form-control">
                </div>
                    <button type="submit" class="btn btn-info">Submit</button>
            </form>
        </div>
    </body>
</html>
